%nav.pages
  %ul
    - if selected == "manage"
      %li.selected
        %a{:href => url(:accounts, :index)} Manage
    - else
      %li
        %a{:href => url(:accounts, :index)} Manage
    
    - if selected == "new"
      %li.selected
        %a{:href => url(:accounts, :new)} New
    - else
      %li
        %a{:href => url(:accounts, :new)} New
