%nav.pages
  %ul
    - if selected == "manage"
      %li.selected
        %a{:href => url(:pages, :index)} Manage
    - else
      %li
        %a{:href => url(:pages, :index)} Manage
    
    - if selected == "new"
      %li.selected
        %a{:href => url(:pages, :new)} New
    - else
      %li
        %a{:href => url(:pages, :new)} New

      
