%nav.posts
  %ul
    %li
      %a{:href => url(:posts, :index)} Manage
    %li
      %a.text{:href => '/marvin/posts/new/text'} Text 
    %li
      %a.photo{:href => '/marvin/posts/new/photo'} Photo
    %li
      %a.audio{:href => '/marvin/posts/new/audio'} Audio 
    %li
      %a.video{:href => '/marvin/posts/new/video'} Video
    %li
      %a.quote{:href => '/marvin/posts/new/quote'} Quote
    %li
      %a.link{:href => '/marvin/posts/new/link'} Link
    %li
      %a.code{:href => '/marvin/posts/new/code'} Code 
      
