- if !@posts.blank?
  - @posts.each do |post|
    %article.row{:class => post.type}
      = partial 'posts/' + post.type, :locals => { :post => post }
      %aside.fourcol.last
        %time{:timedate => post.created_at}
          %a{:href => url(:post, :permalink => post.permalink)}= post.created_at.strftime("%d %B %Y")
- else
  %p No posts yet!

- if @posts.prev or @posts.next  
  %footer
    - if @posts.prev
      %p.left
        - if @posts.prev.number == 1
          %a{:href => url(:index)} &larr; Older Entries
        - else
          %a{:href => url(:paginate, :number => @posts.prev.number) } &larr; Older Entries
    - if @posts.next
      %p.right
        %a{:href => url(:paginate, :number => @posts.next.number)} Newer Entries &rarr;
