#inner.row
  = partial 'partials/nav/pages'
  %section#body
    =flash_tag :notice
    - if !@comments.blank?
      %table
        %thead
          %tr
            %th Name
            %th Email
            %th Approved?
            %th Actions
        %tbody
          - @comments.each do |comment|
            %tr
              %td= comment.name
              %td= comment.email
              %td= comment.approved
              %td
                %form.inline{:action => url(:comments, :invert), :method => "post"}
                  %input{:name => "id", :type => "hidden", :value => comment.id}/
                  - if comment.approved == true
                    %button{:type => "submit", :value => "Unapprove"} Unapprove
                  - else
                    %button{:type => "submit", :value => "Approve"} Approve
                &mdash;
                %form.inline{:action => url(:comments, :destroy), :method => "post"}
                  %input{:name => "id", :type => "hidden", :value => comment.id}/
                  %input{:name => "_method", :type => "hidden", :value => "delete"}/
                  %button.inline{:type => "submit", :value => "Delete"} Delete
                    
    - else
      %p
        No comments!
